/* .foto {
    width: 100px;
    height: 100px;
    background-image: url('https://99px.ru/sstorage/56/2021/11/mid_343333_176671.jpg');
} */

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f5f4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto 20px;
    
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.name {
    float: left;
    font-size: 1.5em;
}

.contact {
    float: right;
    margin: 40px;
    
}

.contact a {
    text-decoration: none;
    color: black;
}

.mail {
    margin: 10px 0;
}

.profile-flex {
    display: flex;
    flex-direction: row;
}

.profile-foto img {
    border-radius: 50%;
}



